.header {
  /* height: rem(56px); */
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-green-9), var(--mantine-color-dark-4));
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.inner {
  /* height: rem(56px); */
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: var(--mantine-color-green-9);
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @mixin hover {
    background-color: var(--mantine-color-green-9);
    color: white;
    border-radius: 30px;
  }
}

.linkLabel {
  margin-right: rem(5px);
}

.logotext {
  font-size: 16px;
  line-height: 1;
  padding: rem(8px) rem(12px);
  text-decoration: none;
  color: light-dark(var(--mantine-color-green-9), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}

.labelonlink {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: var(--mantine-color-green-9);
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @mixin hover {
    color: var(--mantine-color-green-9);
    border-radius: 30px;
  }
}
